<!DOCTYPE html>
<html lang="en">
<head>
    <title>Guess the language!</title>
</head>
<body>
    <h1>Guess the programming language!</h1>
    <p>{{ question }}</p>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {% for option in form.answer %}
                {{ option }} {{ option.label }}<br />
            {% endfor %}
            {% for error in form.answer.errors %}
                [{{ error }}]
            {% endfor %}
        </p>
        {{ form.submit }}
    </form>
    <p>Clock <a href="{{ url_for('index') }}">here</a> to end this game.</p>
</body>
</html>