{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-N92XCFB');</script>
  <!-- End Google Tag Manager -->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Browser tap settings -->
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 5 100 100%22><text y=%22.9em%22 font-size=%2280%22>🚗</text></svg>">
  <title>Расчёт финансовых показателей: Главная</title>

  <!-- Bootstrap core CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

  <!-- MomentJS core JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- tableToExcel JS -->
  <script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>
</head>

<body class="bg-light">

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N92XCFB"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <div class="container">

    <!-- Container 1: Page description -->
    <div class="container">
      <div class="text-center">
        <div style="font-size:5rem; width:100%; text-align:center;">🚗</div>
        <h1>Расчёт финансовых показателей</h1>
      </div>
    </div>

    <!-- Container 2: Links to Rate/Monthly payment calculator resources -->
    <div class="container pt-4 pb-1 mt-4 pb-1">
      <div class="row text-center">
        <h2>1. Ежемесячный платёж</h2>
        <div style="margin-right: 0%;">
          <a href="car/" class="btn btn-primary btn-block" style="width: 290px;" role="button" aria-pressed="true">Автолизинг (без Каско)</a>
          <a href="taxi/" class="btn btn-primary btn-block" style="width: 290px;" role="button" aria-pressed="true">Такси</a>
          <a href="cash/" class="btn btn-primary btn-block" style="width: 290px;" role="button" aria-pressed="true">Кредит наличными</a>
        </div>
      </div>
    </div>

    <!-- Container 3: Links to IR evaluation resources -->
    <div class="container py-4 my-4">
      <div class="row text-center">
        <h2>2. Способность обслуживать кредит</h2>
        <div style="margin-right: 0%;">
          <a href="ir/" class="btn btn-primary btn-block" style="width: 290px;" role="button" aria-pressed="true">История расчётов</a>
          <a href="ir/new/" class="btn btn-primary btn-block" style="width: 290px;" role="button" aria-pressed="true">Новый расчёт IR</a>
        </div>
      </div>
    </div>

    <!-- Container 4: Footer -->
    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">&copy; 2021 ФастФінанс</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="tel:+380689389889">+38 068 938-98-89</a></li>
        <li class="list-inline-item"><a href="mailto:info@fastfinance.com.ua">info@fastfinance.com.ua</a></li>
      </ul>
    </footer>


  </div>

  <!-- jQuery JavaScript -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

</body>

</html>
