{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-N92XCFB');</script>
  <!-- End Google Tag Manager -->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Browser tap settings -->
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 5 100 100%22><text y=%22.9em%22 font-size=%2280%22>🚗</text></svg>">
  <title>Такси: Ежемесячный платёж</title>

  <!-- Bootstrap core CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

  <!-- MomentJS core JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- tableToExcel JS -->
  <script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>

  <!-- Chart JS -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body class="bg-light">

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N92XCFB"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <div class="container">

    <!-- Container 1: Description -->
    <div class="container">
      <div class="text-center">
        <div style="font-size:5rem; width:100%; text-align:center;">🚗</div>
        <h1>Расчёт ежемесячного платежа</h1>
      </div>
    </div>

    <!-- Container 2: Exchange rate -->
    <div class="container my-4 pt-4 text-center">
      <h5>Курс валют: UAH USD</h5>
      <div>
        <p>
          <span class="badge d-none text-wrap" id="exchange_rate_statusmessage" style="font-size: 0.9rem;"></span>
        </p>
        <div class="spinner-border d-none" role="status" id="0"></div>
      </div>
      <div class="col-md-4 offset-md-4">
        <table class="table text-center">
          <thead>
            <tr style="font-size: 0.9rem;">
              <th scope="col">Источник</th>
              <th scope="col">Обновлено</th>
              <th scope="col">Курс</th>
            </tr>
          </thead>
          <tbody>
            <tr style="font-size: 0.9rem;">
              <td id="exchange_rate_source"></td>
              <td id="exchange_rate_date"></td>
              <td id="exchange_rate_value"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Container 3: Transport parameters selection. Reference: https://auto.ria.com/uk/price/average/ -->
    <div class="container my-4 pt-4">
      <h5 class="text-center">Выбор транспорта</h5>
      <div class="col-md-4 offset-md-4">
        <select class="form-select form-select-sm mb-1" id="autoria_category_select">
          <option value="-1" selected>1. Вид</option>
          <!-- Note: value from next options come from auto.ria API -->
          <option value="1">Легковые</option>
          <option value="2">Мото</option>
          <option value="3">Водный транспорт</option>
          <option value="4">Спецтехника</option>
          <option value="5">Прицепы</option>
          <option value="6">Грузовики</option>
          <option value="7">Автобусы</option>
          <option value="8">Автодома</option>
          <option value="9">Воздушный транспорт</option>
          <option value="10">Сельхозтехника</option>
        </select>
        <select class="form-select form-select-sm mb-1" id="autoria_brand_select">
          <option value="-1" selected>2. Марка</option>
        </select>
        <select class="form-select form-select-sm mb-1" id="autoria_model_select">
          <option value="-1" selected>3. Модель</option>
        </select>
        <select class="form-select form-select-sm mb-1" id="autoria_transmission_select">
          <option value="-1" selected>4. КПП</option>
          <!-- Note: value from next options come from auto.ria API -->
          <option value="1">Ручная / Механика</option>
          <option value="2">Автомат</option>
          <option value="3">Типтроник</option>
          <option value="4">Робот</option>
          <option value="5">Вариатор</option>
        </select>
        <select class="form-select form-select-sm mb-1" id="autoria_fuel_select">
          <option value="-1" selected>5. Топливо</option>
          <!-- Note: value from next options come from auto.ria API -->
          <option value="1">Бензин</option>
          <option value="2">Дизель</option>
          <option value="3">Газ</option>
          <option value="4">Газ / Бензин</option>
          <option value="5">Гибрид</option>
          <option value="6">Электро</option>
          <option value="7">Другое</option>
          <option value="8">Газ метан</option>
          <option value="9">Газ пропан-бутан</option>
        </select>
        <div style="font-size: 0.86rem;" class="my-2">
          <label style="padding-left: 9px;">6. Год производства:</label>
          <input type="number" class="form-control" id="autoria_production_year_input" min="1900" placeholder="Не указано" step="1">
        </div>
      </div>
    </div>

    <hr>

    <!-- Container 4: Client params, Business params -->
    <div class="container py-4 my-4">
      <div class="row">
        <div class="col-md-6 col-sm-12 mb-4">
          <!-- Subcontainer 1: Client params -->
          <h5>1. Пожелания Клиента</h5>
          <p>
            <span class="badge d-none text-wrap" id="min_payment_statusmessage" style="font-size: 0.9rem;"></span>
          </p>
          <div class="col-md-10 mb-2">
            <label for="object_price" class="form-label">Цена автомобиля, USD:</label>
            <input type="number" class="form-control" id="object_price" min="0" placeholder="10000" step="1000">
          </div>
          <div class="col-md-10 mb-2">
            <label for="upfront_payment" class="form-label">Клиент имеет денег на покупку, USD:</label>
            <input type="number" class="form-control" id="upfront_payment" min="0" placeholder="1000" step="100">
          </div>
          <div class="col-md-10 mb-2">
            <label for="term" class="form-label">Срок, месяцев:</label>
            <input type="number" class="form-control" id="term" min="0" placeholder="12" step="1">
          </div>
          <div class="col-md-10 mb-2">
            <label for="discount_pct" class="form-label">Доля, которую можно не выплачивать, %:</label>
            <input type="number" class="form-control" id="discount_pct" min="0" placeholder="0.0%" step="0.1">
          </div>
          <div class="col-md-10 mb-2">
            <label for="tracker_price_uah" class="form-label">Стоимость трекера, единоразовая, UAH:</label>
            <input type="number" class="form-control" id="tracker_price_uah" min="0.0" placeholder="0" step="50">
          </div>
          <div class="col-md-10 mb-2">
            <label for="tracker_subscription_fee_uah" class="form-label">Стоимость трекера, абонплата, UAH:</label>
            <input type="number" class="form-control" id="tracker_subscription_fee_uah" min="0" placeholder="0" step="10">
          </div>
          <div class="col-md-10 mb-2">
            <label for="insurance_pct" class="form-label">Страховка КАСКО, %:</label>
            <input type="number" class="form-control" id="insurance_pct" min="0.0" placeholder="0.0%" step="0.1">
          </div>
          <div class="col-md-10 mb-2">
            <label for="graph_correction_pct" class="form-label">Корректировка графика цены, усиление падения, %:</label>
            <input type="number" class="form-control" id="graph_correction_pct" min="0.0" placeholder="0.0%" step="0.1" value="0">
          </div>
          <button class="btn btn-primary btn-lg btn-block" type="submit" id="evaluate">Расчитать условия</button>
        </div>
        <div class="col-md-6 col-sm-12">
          <!-- Subcontainer 2: Evaluation results -->
          <h5>2. Итог расчета</h5>
          <div>
            <p>
              <span class="badge d-none text-wrap" id="evaluation_statusmessage" style="font-size: 0.9rem;"></span>
            </p>
            <div class="spinner-border d-none" role="status" id="evaluation_statusspinner"></div>  
          </div>
          <div class="col-md-12">
            <table class="table">
              <tbody>
                <tr>
                  <td>Сумма лизинга:</td>
                  <td id="lease_sum_uah" style="text-align: right;">- грн.</td>
                  <td id="lease_sum_usd" style="text-align: right;">- долл.</td>
                </tr>
                <tr>
                  <td>Ежемесячный платеж:</td>
                  <td id="monthly_payment_uah" style="text-align: right;">- грн.</td>
                  <td id="monthly_payment_usd" style="text-align: right;">- долл.</td>
                </tr>
                <tr>
                  <td>Переплата за весь срок:</td>
                  <td id="overpayment_uah" style="text-align: right;">- грн.</td>
                  <td id="overpayment_usd" style="text-align: right;">- долл.</td>
                </tr>
                <tr>
                  <td>Сумма, которую можно не выплачивать:</td>
                  <td id="discount_uah" style="text-align: right;">- грн.</td>
                  <td id="discount_usd" style="text-align: right;">- долл.</td>
                </tr>
              </tbody>
            </table>
            <p class="text-center" style="font-size: 0.75rem;">(Все суммы лизинга вносятся в гривне без привязки к курсу доллара США)</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Container 5: Payments plan -->
    <div class="d-none container my-4" id="payments_plan_container">
      <div class="row">
        <h5>3. График платежей</h5>
        <div class="table-responsive">
          <table class="table" id="payment_schedule_table">
            <thead style="text-align: center;">
              <th>Номер платежа</th>
              <th>Дата платежа</th>
              <th>Лизинговый платёж</th>
              <th>PPMT</th>
              <th>IPMT</th>
              <th>PMT</th>
              <th>Остаток оплаты</th>
            </thead>
            <tbody id="payment_schedule">
            </tbody>
          </table>
        </div>
        <button class="btn btn-primary btn-lg btn-block" type="submit" id="payment_schedule_download_btn">Сохранить график платежей</button>
      </div>
    </div>

    <!-- Container 6: Line graph of leftovers and AutoRIA average price, LTV -->
    <div class="d-none container py-3 px-3 my-4" id="auto_ria_plot_container">
      <div class="row">
        <h5>4. Остаток оплаты и Медианная цена транспорта</h5>
        <div>
          <p>
            <span class="badge d-none text-wrap" id="autoria_averageprice_statusmessage" style="font-size: 0.9rem;"></span>
          </p>
          <div class="spinner-border d-none" role="status" id="autoria_averageprice_spinner"></div>
        </div>
        <div>
          <canvas id="autoria_leftovers_chart" width="350" height="100"></canvas>
        </div>
      </div>
    </div>

    <!-- Container 7: Footer -->
    <footer class="my-5 text-muted text-center text-small">
      <p class="mb-1">&copy; 2021 ФастФінанс</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="tel:+380689389889">+38 068 938-98-89</a></li>
        <li class="list-inline-item"><a href="mailto:info@fastfinance.com.ua">info@fastfinance.com.ua</a></li>
      </ul>
    </footer>

  </div>

  <!-- jQuery JavaScript -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

  <!-- Custom JavaScript scripts -->
  <script>
    // set up initial fields values
    var commission = 0.0299;
    var irr_target = 0.5;
    var upfront_payment_pct_target = 0.2;

    var usd_uah_rate;
    var best_candidate;
    var single_value_evaluations;
    var payment_schedule;

    var autoria_average_price_response;
    var corrected_autoria_average_price_values;

    var autoria_leftovers_chart;
  </script>

  <script>
    // set up exchange rate values
    $(document).ready(function () {
      $('#exchange_rate_statusspinner').removeClass('d-none');

      $('#exchange_rate_statusmessage').removeClass('d-none');
      $('#exchange_rate_statusmessage').addClass('bg-warning');
      $('#exchange_rate_statusmessage').text('Загрузка курсов валют...');

      $.ajax({
        url: "../api/exchange_rates/nbu/",
        type: 'GET',
        dataType: 'json',
        success: function (res) {
          usd_uah_rate = res['rate']['rate'];

          $('#exchange_rate_source').text('НБУ');
          $('#exchange_rate_date').text(res['rate']['exchangedate']);
          $('#exchange_rate_value').text(usd_uah_rate);
        },
        complete: function (res) {
          $('#exchange_rate_statusspinner').addClass('d-none');

          $('#exchange_rate_statusmessage').removeClass('bg-warning');
          $('#exchange_rate_statusmessage').addClass('bg-success');
          $('#exchange_rate_statusmessage').text('Курс обновлён');
        }
      });
    });
  </script>

  <script>
    // set up auto.ria select options

    // marks
    $("#autoria_category_select").change(
      function(){
        // reset brands
        $('#autoria_brand_select').empty()
        $('#autoria_brand_select').append(
          $('<option/>', { text : "2. Марка" } )
        );

        // reset models
        $('#autoria_model_select').empty()
        $('#autoria_model_select').append(
          $('<option/>', { text : "3. Модель" } )
        );

        // fetch & fill brands
        $.ajax({
          url: "../api/auto_ria/marks/?category_id=" + $('#autoria_category_select').val(),
          type: "GET",
          dataType: 'json',
          success: function (res) {
            $.each(res['result'], function (index, value) {
              $('#autoria_brand_select').append(
                $('<option/>', { value: value['value'], text : value['name'] } )
              );
            });
          }
        });
      }
    );

    // models
    $("#autoria_brand_select").change(
      function(){
        // reset models
        $('#autoria_model_select').empty()
        $('#autoria_model_select').append(
          $('<option/>', { text : "3. Модель" } )
        );

        // fetch & fill models
        $.ajax({
          url: "../api/auto_ria/models/?category_id=" + $('#autoria_category_select').val() + "&mark_id=" + $('#autoria_brand_select').val(),
          type: "GET",
          dataType: 'json',
          success: function (res) {
            $.each(res['result'], function (index, value) {
              $('#autoria_model_select').append(
                $('<option/>', { value: value['value'], text : value['name'] } )
              );
            });
          }
        });
      }
    );
  </script>

  <script>
    // set up evaluate button behaviour

    // customer metrics validation routine
    function validate_customer_metrics_values() {
      let validation_failed_message = {
        'status': 'failed',
        'reason': ''
      }

      if ( isNaN( parseFloat($('#object_price').val()) ) ) {
        validation_failed_message['reason'] = "Поле \"Цена автомобиля, USD\" надо заполнить"
        return validation_failed_message
      }

      if ( isNaN( parseFloat($('#upfront_payment').val()) ) ) {
        validation_failed_message['reason'] = "Поле \"Клиент имеет денег на покупку, USD\" надо заполнить"
        return validation_failed_message
      }

      if ( isNaN( parseInt($('#term').val()) ) ) {
        validation_failed_message['reason'] = "Поле \"Срок, месяцев\" надо заполнить"
        return validation_failed_message
      }

      if ( isNaN( parseFloat($('#discount_pct').val()) ) ) {
        validation_failed_message['reason'] = "Поле \"Доля, которую можно не выплачивать, %\" надо заполнить"
        return validation_failed_message
      }

      if ( isNaN( parseFloat($('#tracker_price_uah').val()) ) ) {
        validation_failed_message['reason'] = "Поле \"Стоимость трекера, единоразовая, UAH\" надо заполнить"
        return validation_failed_message
      }

      if ( isNaN( parseFloat($('#tracker_subscription_fee_uah').val()) ) ) {
        validation_failed_message['reason'] = "Поле \"Стоимость трекера, абонплата, UAH\" надо заполнить"
        return validation_failed_message
      }

      if ( isNaN( parseFloat($('#insurance_pct').val()) ) ) {
        validation_failed_message['reason'] = "Поле \"Страховка КАСКО, %\" надо заполнить"
        return validation_failed_message
      }

      if ( isNaN( parseFloat($('#graph_correction_pct').val()) ) ) {
        validation_failed_message['reason'] = "Поле \"Корректировка графика цены, усиление падения, %\" надо заполнить"
        return validation_failed_message
      }

      // return OK message
      validation_failed_message['status'] = 'ok'
      return validation_failed_message
    }

    // upfront payment validation routine
    function validate_upfront_payment_value() {
      let object_price = parseFloat($('#object_price').val());
      let upfront_payment = parseFloat($('#upfront_payment').val());

      let object_price_uah = object_price * usd_uah_rate;
      let upfront_payment_uah = upfront_payment * usd_uah_rate;

      let pct_value = (upfront_payment_uah - object_price_uah * commission - 3000.0) / object_price_uah

      if (pct_value >= upfront_payment_pct_target) {
        return {
          'status': 'ok',
          'pct': pct_value
        }
      } else {
        let alternative = Math.ceil(upfront_payment + object_price * (upfront_payment_pct_target - pct_value))
        return {
          'status': 'failed',
          'pct': pct_value,
          'alternative': alternative
        }
      }
    }

    // floating number display function
    function customized_round(x) {
      return Number((x).toFixed(0)).toLocaleString()
      // return Number.parseFloat(x).toFixed(2);
    }

    // filling single value evaluations routine
    function fill_single_value_evaluations(single_value_calculations_results) {
      let lease_sum_uah = single_value_calculations_results['lease_sum_uah']
      $('#lease_sum_uah').text(customized_round((lease_sum_uah)) + ' грн.');
      $('#lease_sum_usd').text(customized_round((lease_sum_uah / usd_uah_rate)) + ' долл.');

      let monthly_payment_uah = single_value_calculations_results['monthly_payment_uah'];
      $('#monthly_payment_uah').text(customized_round((monthly_payment_uah)) + ' грн.');
      $('#monthly_payment_usd').text(customized_round((monthly_payment_uah / usd_uah_rate)) + ' долл.');

      let overpayment_uah = single_value_calculations_results['overpayment_uah'];
      $('#overpayment_uah').text(customized_round((overpayment_uah)) + ' грн.');
      $('#overpayment_usd').text(customized_round((overpayment_uah / usd_uah_rate)) + ' долл.');

      let discount_uah = single_value_calculations_results['discount_uah'];
      $('#discount_uah').text(customized_round((discount_uah)) + ' грн.');
      $('#discount_usd').text(customized_round((discount_uah / usd_uah_rate)) + ' долл.');
    }

    // filling payment schedule routine
    function fill_payment_schedule(payment_schedule) {
      $("#payment_schedule tr").remove();

      for (let row_idx = 0; row_idx < payment_schedule['monthly_payments'].length; row_idx++) {
        $('#payment_schedule').append(
          '<tr>' +

          '<td style="text-align: center;">' + (row_idx + 1) + '</td>' +

          '<td style="text-align: center;">' + moment().add(row_idx + 1, 'months').format('DD.MM.YYYY') + '</td>' +

          '<td style="text-align: center;">' + customized_round(payment_schedule['monthly_payments'][row_idx]) + '</td>' +
          '<td style="text-align: center;">' + customized_round(payment_schedule['ppmt_values'][row_idx]) + '</td>' +
          '<td style="text-align: center;">' + customized_round(payment_schedule['ipmt_values'][row_idx]) + '</td>' +
          '<td style="text-align: center;">' + customized_round(payment_schedule['pmt_values'][row_idx]) + '</td>' +
          '<td style="text-align: center;">' + customized_round(payment_schedule['leftover_values'][row_idx]) + '</td>' +

          '</tr>'
        )
      }
    }

    // drawing median price chart routine
    function draw_median_price_chart() {

      if (autoria_leftovers_chart === undefined) {
        // Create new median price graph

        // Define dataset
        const data = {
          labels: autoria_average_price_response['autoria_years'],
          datasets: [
            {
              label: 'Остаток оплаты',
              data: payment_schedule['leftover_values_chart'],
              borderColor: 'rgb(255, 130, 130)',
              tension: 0.1,
            },
            {
              label: 'Медианная цена машины',
              data: corrected_autoria_average_price_values,
              borderColor: 'rgb(130, 188, 255)',
              tension: 0.1,
            }
          ]
        };
        // Define chart config
        const config = {
          type: 'line',
          data
        };
        // Draw the chart
        autoria_leftovers_chart = new Chart(
          document.getElementById("autoria_leftovers_chart"),
          config
        );
      } else {
        // Update median price graph values
        autoria_leftovers_chart.data.labels = autoria_average_price_response['autoria_years'];
        autoria_leftovers_chart.data.datasets[0].data = payment_schedule['leftover_values_chart'];
        autoria_leftovers_chart.data.datasets[1].data = corrected_autoria_average_price_values;
        autoria_leftovers_chart.update();
      }

      $('#autoria_averageprice_statusmessage').append('. График построен');
    }

    // evaluate button handler
    function handle_evaluate_button() {
      $('#min_payment_statusmessage').removeClass('d-none')
      $('#min_payment_statusmessage').removeClass('bg-warning')
      $('#min_payment_statusmessage').removeClass('bg-success')

      // validate #1: all fields are not empty
      let customer_metrics_values_validation = validate_customer_metrics_values()
      if (customer_metrics_values_validation['status'] === 'failed') {
        $('#min_payment_statusmessage').addClass('bg-warning')
        $('#min_payment_statusmessage').text(
          customer_metrics_values_validation['reason']
        )
        // do not proceed
        return
      }

      // validate #2: upfront payment >= X%
      let minimal_payment_data = validate_upfront_payment_value();
      if (minimal_payment_data['status'] === 'failed') {
        $('#min_payment_statusmessage').addClass('bg-warning')
        $('#min_payment_statusmessage').text(
          "Нужно увеличить взнос Клиента до " +
          customized_round(minimal_payment_data['alternative']) +
          " USD"
        )
        // do not proceed
        return
      }

      $('#min_payment_statusmessage').text("Пожелания корректны")
      $('#min_payment_statusmessage').addClass('bg-success')

      // work on evaluation spinner / status message
      $('#evaluation_statusmessage').removeClass('d-none');
      $('#evaluation_statusspinner').removeClass('d-none');
      $('#evaluation_statusmessage').removeClass('bg-warning');
      $('#evaluation_statusmessage').removeClass('bg-success');

      $('#evaluation_statusmessage').addClass('bg-warning');
      $('#evaluation_statusmessage').text('Расчёт платежей...');

      // load customer metrics to local variables
      let object_price = parseFloat($('#object_price').val())
      let upfront_payment = parseFloat($('#upfront_payment').val())
      let term = parseInt($('#term').val())
      let discount_pct = parseFloat($('#discount_pct').val())
      let tracker_price_uah = parseFloat($('#tracker_price_uah').val())
      let tracker_subscription_fee_uah = parseFloat($('#tracker_subscription_fee_uah').val())
      let insurance_pct = parseFloat($('#insurance_pct').val())

      // run rate picker
      $.ajax({
        url: "../api/fin_picking/v2/",
        type: 'POST',
        dataType: 'json',
        data: JSON.stringify({
          "car_price_usd": object_price,
          "down_payment_usd": upfront_payment,
          "lease_term_months": term,
          "discount_pct": discount_pct / 100.0,
          "commission_pct": commission,
          "tracker_price_uah": tracker_price_uah,
          "desired_irr_pct": irr_target,
          "exchange_rate": usd_uah_rate,
          "tracker_subscription_fee_uah": tracker_subscription_fee_uah,
          "insurance_pct": insurance_pct / 100.0,
          "precision": 1
        }),
        success: function (res) {
          // Save best candidate
          best_candidate = res['result']['best_candidate'];

          // Fill table with single value evaluations
          single_value_calculations_results = res['result']['single_value_evaluations'];
          fill_single_value_evaluations(single_value_calculations_results);

          // Fill table with payment schedule
          payment_schedule = res['result']['payment_schedule'];
          fill_payment_schedule(payment_schedule);
        },
        complete: function (data) {
          $('#evaluation_statusspinner').addClass('d-none');
          $('#evaluation_statusmessage').removeClass('bg-warning');
          $('#evaluation_statusmessage').addClass('bg-success');
          $('#evaluation_statusmessage').text('Расчёт обновлён');

          $('#payments_plan_container').removeClass('d-none');
          $('#auto_ria_plot_container').removeClass('d-none');

          $('#autoria_averageprice_statusmessage').removeClass('d-none');
          $('#autoria_averageprice_spinner').removeClass('d-none');
          $('#autoria_averageprice_statusmessage').removeClass('bg-warning');
          $('#autoria_averageprice_statusmessage').removeClass('bg-success');

          // Validate #3: average price input is not empty
          if ( isNaN( $('#autoria_model_select').val() ) || ($('#autoria_model_select').val() === "-1") ) {
            $('#autoria_averageprice_spinner').addClass('d-none');

            $('#autoria_averageprice_statusmessage').addClass('bg-warning');
            $('#autoria_averageprice_statusmessage').text('Необходимо выбрать модель транспорта для анализа Медианной цены');
            // do not proceed
            return;
          }

          // Fetch average price data
          $('#autoria_averageprice_statusmessage').addClass('bg-warning');
          $('#autoria_averageprice_statusmessage').text('Сбор данных про усреднённую цену транспорта...');

          let average_price_url = "../api/auto_ria/average_price/";
          average_price_url += "?model_id=" + $('#autoria_model_select').val();
          average_price_url += "&transmission_type_id=" + $('#autoria_transmission_select').val();
          average_price_url += "&fuel_type_id=" + $('#autoria_fuel_select').val();
          average_price_url += "&production_year=" + $('#autoria_production_year_input').val();
          average_price_url += "&years_to_analyze=" + Math.ceil(term / 12);
          average_price_url += "&usd_uah_rate=" + usd_uah_rate;

          $.ajax({
            url: average_price_url,
            type: "GET",
            dataType: 'json',
            success: function (res) {
              autoria_average_price_response = res['result'];
            },
            complete: function (data) {
              // Clean up
              $('#autoria_averageprice_spinner').addClass('d-none');
              $('#autoria_averageprice_statusmessage').removeClass('bg-warning');
              $('#autoria_averageprice_statusmessage').addClass('bg-success');
              $('#autoria_averageprice_statusmessage').text('Данные собраны');

              // Apply correction coefficient, starting from 2+ year
              let correction_coefficient = ( 100.0 - parseFloat($('#graph_correction_pct').val()) ) / 100.0;

              corrected_autoria_average_price_values = [];
              for (let idx = 0; idx < autoria_average_price_response['autoria_avg_prices'].length; idx++) {
                let value = autoria_average_price_response['autoria_avg_prices'][idx];
                if (idx == 0) {
                  corrected_autoria_average_price_values.push(value);
                } else {
                  corrected_autoria_average_price_values.push(value * correction_coefficient);
                }
              }

              // Draw median price chart
              draw_median_price_chart();
            }
          });
        }
      });

    };

    // handle button click
    $("#evaluate").click(handle_evaluate_button);
  </script>

  <script>
    // handle save excel button behavior

    $(document).ready(function () {
      $("#payment_schedule_download_btn").click(function () {
        let table = document.getElementById("payment_schedule_table");
        TableToExcel.convert(
          table,
          {
            name: 'lease_params_report_' + moment().format('YYYYMMDD_HHmm') + '.xlsx',
            sheet: {
              name: '1. График платежей'
            }
          }
        );
      });
    });
  </script>

</body>

</html>
